*{
    font-family: 'Roboto', sans-serif;
    margin: 0
}
.header, .hero{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.header-menu{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 20px;
    max-width: 1200px;
    width: 100%;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
    text-decoration: none;
}

.header-links{
    display: flex;
    gap: 20px;
}

.header-links a{
    color: #e5e7eb;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
}

.header-links a:hover{
    background-color: #3B82F6;
}

.hero{
    background-color: #1f2937;
}

.hero-content{
    max-width: 1200px;
    width: 100%;
    display: flex;
    margin: 64px;
    gap: 64px;
    height: fit-content;
}

.hero-heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.hero-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-subtitle{
    font-size: 18px;
    color: #e5e7eb;
}

.signup {
    background-color: #4b535e;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    width: fit-content;
}

.signup:hover {
    background-color: #3B82F6;
}

.hero-image{
    width: 100%;
    height: 300px`;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hero-image img{
    background-color: #4b535e;
    padding: 16px;
    border-radius: 8px;
    max-width: 100%;
    width: 100%;
    height: 300px;
}

.features {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 40px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.feature-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 64px;
}

.feature{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.feature-icon{
    border: 2px solid #1f2937;
    padding: 8px;
    border-radius: 16px;
    width: 100%;
    height: auto;
}

.testimonials {
    background-color: #e5e7eb;
    margin: 0 auto;
    padding: 40px 40px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.testimonials-content {
    max-width: 1200px;
    margin: 0 auto;
}

.testimonials-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 64px;
}

q {
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.testimonial p{
    text-align: end;
}